{% extends 'pages/base/layout.html' %}

{% block title %}
Cisco Switch Listesi
{% endblock %}

{% block content %}



<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card mt-2">

                    <div class="card-header d-flex p-0 justify-content-center align-items-center">
                        <h3 class="card-title p-3 ">
                            Cisco Switch Listesi
                        </h3>

                        <h3 class="card-title p-3 ">
                            <a class="btn btn-success" href="{% url 'cisco_switch_create_view' %}">Ekle</a>
                        </h3>
                        <h3 class="card-title p-3 ">
                            <a class="btn btn-success" href="{% url 'cisco_switch_all_sync_view' %}">Tüm Cihaz Yedek Al</a>
                        </h3>

                    </div>


                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content ">


                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                <tr>

                                    <th>#</th>
                                    <th>Ad</th>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Seri No</th>
                                    <th>Ip Adres</th>
                                    <th>Versiyon</th>

                                    <th>İşlemler</th>
                                </tr>
                                </thead>
                                <tbody>
                                    {% for item in cisco_switcies %}

                                    <tr>
                                        <td>{{ item.id }}</td>
                                        <td>{{ item.hostname }}</td>
                                        <td>{{ item.vendor }}</td>
                                        <td>{{ item.model }}</td>
                                        <td>{{ item.serial }}</td>
                                        <td>{{ item.address }}</td>
                                        <td>{{ item.version }}</td>

                                        <td>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    İşlemler
                                                </button>
                                                <div class="dropdown-menu">

                                                        <a class="dropdown-item" href="{% url 'cisco_switch_update_view' item.id %}">Güncelle</a>
                                                        <a class="dropdown-item" href="{% url 'cisco_switch_delete_view' item.id %}">Sil</a>
                                                      <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="{% url 'cisco_switch_config_view' item.id %}">Yedek Listesi</a>
                                                    <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item" href="{%  url 'cisco_switch_backup_sync_view' item.id %}">Yedek Al</a>

                                                </div>
                                            </div>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}